<!-- 	<br><br><br><br><br><br><br><br><br><br>
<h1>Welcome to the Nameless Blog</h1> -->

<!-- <img height="50px" width="200px" src="http://www.adweek.com/socialtimes/files/2013/08/twitter-bird-upside-down.png"> -->
<br><br><br><br><br><br>
<h1>Hello!</h1>
<h1>Welcome to the UdB Network!</h1>
<h1>Please sign in</h1>

<div id="sign_up">
		<form method="POST" action="/sign-up">   
			<label for="username">Username</label>   
			<input type="text" size="40" name="username"><br>   
			<label for="password">Password</label>   
			<input type="password" size="40" name="password"><br>
			<label for="email">Email</label>   
			<input type="email" size="40" name="Email"><br>   
			<input type="submit"> 
		</form>
</div>
<form method="POST" action="/sign-in">   
	<label for="username">Username</label>   
	<input type="text" name="username">   
	<label for="password">Password</label>   
	<input type="password" name="password">   
	<input type="submit"> 
</form>


<button id="button">Sign up!</button>

