
<br><br><br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

<form method="POST" action="/Posts">   
	<label for="title">Title</label>   
	<input type="string" name="title"> <br><br><br><br> 
	<label for="body">Comments</label> 
	<textarea type="text" name="body" rows="5" cols="30"></textarea>   
	<input type="submit"> 
</form>

<% @posts.each do |t| %>
		<h3><%= t.title %></h3>
		<p><%= t.body %></p>
<% end %>