<!-- <<<<<<< HEAD
<div id="settings">
		<form method="POST" action="/edit">   
			<label for="username">Change your username</label>   
			<input type="text" size="40" name="username"><br>   
			<label for="password">Change your password</label>
			<input type="text" size="40" name="password"><br>
			<label for="Update your email address">Email</label>   
			<input type="text" size="40" name="email"><br>   
			<input type="submit"> 
		</form>
=======
<br><br><br> -->

<div id="settings">
        <form method="POST" action="/edit">   
            <label for="username">Change your username</label>   
            <input type="text" size="40" name="username"><br>   
            <label for="password">Change your password</label>
            <input type="text" size="40" name="password"><br>
            <label for="Update your email address">Email</label>   
            <input type="text" size="40" name="email"><br>   
            <input type="submit"> 
        </form>
<!-- >>>>>>> 82ae983851a74d64e465d693b7aef680e0d981c7 -->
</div>

<a href="/delete-account"><button id="delete">Delete your account</button></a>