
<br><br><br>

<div id="settings">
        <form method="POST" action="/edit">   
            <label for="username">Change your username</label>   
            <input type="text" size="40" name="username"><br>   
            <label for="password">Change your password</label>
            <input type="text" size="40" name="password"><br>
            <label for="Update your email address">Email</label>   
            <input type="text" size="40" name="email"><br>   
            <input type="submit"> 
        </form>
</div>

<a href="/delete-account"><button id="delete">Delete your account</button></a>