h1 {
	text-align: center;
	position: relative;
	top: 200px;
}

form {
	text-align: center;
	position: relative;
	top: 200px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
		top: 200px;
}

nav li {
    display: inline;
}