
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-image: url("../images/candy.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}

#navlist {
	list-style: none;
	text-align: right;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
	background-color: black;
	width: 100%;
	height: 40px;
	margin-top: 0px;
	padding-top: 10px;
}

#navlist li {
	display: inline;
	padding: 5px 50px;

}

#navlist li a {
	text-decoration: none;
	color: white;
}

#navlist li a:hover{
	color: red;
} 

h1, h3 {
	text-align: center;
}

form {
	text-align: center;
	/*position: relative;
	top: 200px;*/
	padding: 10px;
}

img {
	position: relative;
	top: 200px;
}

#sign_up {
	/*float: right;*/
	font-family: 'Open Sans', sans-serif;
	/*background-color: purple;*/
	color: white;
	/*top: 10px;*/
	background-color: purple;
	width: 400px;
	height: 300px;
	margin-left: 500px;
	display: none; 	
}

#button {
	/*text-align: center;*/
	/*padding: 200px;*/
	width: 100px;
	height: 50px;
}